firebase-admin==7.1.0
google-api-python-client>=2.117.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
google-genai==1.57.0
sqlalchemy
psycopg2-binary
dotenv
numpy
fastapi
uvicorn
python-dotenv
pydantic
pydantic_settings
google-cloud-tasks==2.20.0
alembic==1.17.2
python-dateutil==2.9.0.post0
python-json-logger==4.0.0