firebase-admin==7.1.0
google-api-python-client>=2.117.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
google-genai
sqlalchemy
psycopg2-binary
dotenv
numpy
transformers
timm
fastapi
uvicorn
python-dotenv
pydantic