name: Deploy Backend Service

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: rola-labs
  REGION: asia-south1
  REPO: moneybhai
  SERVICE: moneybhai

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Auth to GCP
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: |
          gcloud auth configure-docker $REGION-docker.pkg.dev

      - name: Build & Push Image
        run: |
          IMAGE_URI=$REGION-docker.pkg.dev/$PROJECT_ID/$REPO/${SERVICE}:${GITHUB_SHA}
          docker build -t $IMAGE_URI -f Dockerfile .
          docker push $IMAGE_URI
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

      - name: Create env file
        run: |
          cat <<EOF > env.yaml
          DATABASE_URL: "${{ secrets.DATABASE_URL }}"
          GCP_CREDENTIALS: '${{ secrets.GCP_CREDENTIALS }}'
          WORKER_CLOUD_RUN_URL: "${{ vars.WORKER_CLOUD_RUN_URL }}"
          API_TOKEN_GITHUB: "${{ secrets.API_TOKEN_GITHUB }}"
          GMAIL_WEB_CLIENT_ID: "${{ secrets.GMAIL_WEB_CLIENT_ID }}"
          GMAIL_WEB_CLIENT_SECRET: "${{ secrets.GMAIL_WEB_CLIENT_SECRET }}"
          MB_BACKEND_API_URL: "${{ vars.MB_BACKEND_API_URL }}"
          EOF

      - name: Deploy Worker to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --image $IMAGE_URI \
            --region $REGION \
            --min-instances 1 \
            --max-instances 1 \
            --env-vars-file env.yaml